<header class = "page_header" role = "banner" >
		<a href = "/" class = "page_header logo" title = "home" rel = "index" >
      <span class="logo">
			  <i class = "accessibility_text" ></i >
      </span>
		</a >
</header >
<nav id = "nav_main" class = "nav_main" ></nav >

