
<!--[if lte IE 8]>
<script src="build/js/json2.js"></script>
   <script>
     document.createElement('ng-include');
     document.createElement('ng-pluralize');
     document.createElement('ng-view');
     document.createElement('fab-user');
     document.createElement('fab-company');
     document.createElement('fab-account');

     // Optionally these for CSS
     document.createElement('ng:include');
     document.createElement('ng:pluralize');
     document.createElement('ng:view');
   </script>
 <![endif]-->

<title></title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta charset="utf-8">
<meta name="robots" content="index,follow" />
<script type="text/javascript" src="lib/modernizr.js"></script>

<!--[if lte IE 9]><script type="text/javascript">console = {}; console.log = function(){};</script><![endif]-->
<!--[if IE 8]><![endif]-->

<link type="text/css" href="css/style.css" rel="stylesheet">
<script data-main="main" src="lib/requirejs/require.js"></script>